<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Cellophane Cellos, Tout Suite</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">

    <link href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/frow@3/dist/frow.min.css">
    
  <style>


      #app, body, html, .header, .ui {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
      }

      .dignity {
        font-family: "News Cycle", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
        margin: 0 auto;
      }
        i, .material-icons, .icon {
          vertical-align: middle;
      }

    /* Rules for sizing the icon. */
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }
    .material-icons.md-60 { font-size: 60px; }
    .material-icons.md-72 { font-size: 72px; }
    .material-icons.md-84 { font-size: 84px; }
    .material-icons.md-96 { font-size: 96px; }
    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
    .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light { color: rgba(255, 255, 255, 1); }
    .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
</style>

  </head>
  <body>

    <div id="app"></div>
    <!-- built files will be auto injected -->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="../semantic/dist/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

        <script src="node_modules/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
        <script src="/__/firebase/7.14.3/firebase-app.js"></script>
        <script src="/__/firebase/init.js"></script>

      </body>
</html>
