<template lang="pug">
.ui.fluid.container
	div(style="margin-top: 200px; text-align: center;")
		h1.ui.huge.center.aligned.icon.header
			i.huge.circular.sun.icon
			|  Sobre Nobres e Pobres
		button#test.ui.large.dark.center.aligned.button.create_btn(type='button', data-tooltip='Click for a modern model Chernobyl modal, Mixolydian in mode' data-position='right center' data-inverted='true' data-inverted-postion='bottom center', style='margin-top: 10px; border: 1px solid black')
				i.fas.fa-sun.fa-lg
				| &nbsp; Mixolydian Modal

		.ui.tiny.modal.test
			i.close.icon
			h2.header
				i.fas.fa-sun.fa-2x
				| &nbsp; Engenho Novo LLC
			.image.content
				//- .ui.large.image
				//- 	img(src='../assets/biohazard.svg')
				.description
					h2.ui.header
						| Anecdotal Modal Chernobyl
					h3.ui.header Frantic Semantic on Nuxted Flux
					p
						| Λορεμ ιπσθμ δολορ σιτ αμετ, περ ερθδιτι σιγνιφερθμqθε ει, εθμ σολθτα ιντερεσσετ αccομμοδαρε cθ. Qθι σονετ επιcθρει ιδ. Εθ μει σαλε qθοδσι. Qθισ βρθτε μελιθσ προ νο, ατ vισ ασσθμ vερεαρ cιvιβθσ, εξ μινιμ ιθδιcαβιτ εφφιcιενδι qθο. Cασε δολορεμ προ εξ, μει μεισ εθισμοδ περτιναcια αν.

			.actions
				.ui.primary.button Approve

				.ui.secondary.button Neutral

				.ui.negative.button Cancel

	</template>

<script>
	$('.ui.dropdown')
	.dropdown();

	$(function(){
	$("#test").click(function(){
	$(".test").modal('show');
	});
	$(".test").modal({
	closable: true
	});
	});

</script>