<template lang="pug">
.ui.fluid.container
	.ui.centered.stackable.grid(style="margin-top: 20vh")
		.four.wide.center.aligned.column
			.ui.card
				.image
					img(src='../assets/morelinot.jpg')
				.content
					a.header.left.aligned Penmanship &amp; Ink Blots
					.meta.left.aligned
						span.date International Business Machines
					.description.left.aligned.
						
						Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν.
						
					.ui.large.bottom.primary.attached.button.mt-4
						i.big.sun.icon
						| Scribal Culture

		.four.wide.center.aligned.column
			.ui.card
				.image
					img#grayscale(src='../assets/enigma.jpg')
				.content
					a.header.left.aligned Just My Typography
					.meta.left.aligned
						span.date International Business Machines
					.description.left.aligned.
						
						Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν.
						
					.ui.large.bottom.primary.attached.button.mt-4
						i.big.sun.icon
						| Printing Press

		.four.wide.center.aligned.column
			.ui.card
				.image
					img(src='../assets/linotpographer.jpg')
				.content
					a.header.left.aligned Synching To My Links
					.meta.left.aligned
						span.date International Business Machines
					.description.left.aligned.
						
						Cθ οδιο μθcιθσ ηισ, εθμ αλιι γραεcε δελιcατισσιμι ιδ, θτ παθλο qθαλισqθε εοσ. Ειρμοδ οπτιον qθαεστιο ιν μει. Cετεροσ αccθσαμθσ vιμ τε. Ενιμ cονσθλ ατομορθμ πρι ιν.
						
					.ui.large.bottom.primary.attached.button.mt-4
						i.big.sun.icon
						| Hypertext

</template>
		
<script>
</script>
<style>
button {
	font-family: "News Cycle", sans-serif !important;
	font-weight: 300 !important;
	font-style: normal !important;
}

#grayscale {
	filter: grayscale(84%) contrast(75%);
}

</style>
