<template lang="pug">
div
	img.hero-image(src="../assets/brooklyn-bridge-mural.jpg")
	.hero-text
		h1.huge-header Semi Euphoric Semaphores
		h2 A Ration of Signal and Noise
		.ui.big.primary.button.mt-5 Course on Morse


</template>
		
<script>
</script>
<style>
button {
	font-family: "News Cycle", sans-serif !important;
	font-weight: 300 !important;
	font-style: normal !important;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {

  background-image: url("../assets/brooklyn-bridge-mural.jpg");
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: grayscale(100%) brightness(50%);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

</style>
