<template lang="pug">
#nav
	.ui.massive.stackable.fixed.inverted.menu
		a.item(href	="/")
			i.fas.fa-sun.fa-2x.mr-2
			| Engenho Novo LLC
			
		a.item.active(href="/about").
			
			Agiotagem
			
		a.item.
			
			Arbitragem
		
		.ui.simple.dropdown.icon.item
			i.material-icons.mr-3 keyboard_arrow_bottom
			| Listings
			.menu
				.item
					i.right.dropdown.icon
					span.text Composers
					.menu
						a.item(href='/about') Haydn
						a.item(href='/bach') Bach
						a.item(href='/vivaldi') Vivaldi
						a.item(href='/purcell') Purcell
						a.item(href='/corelli') Corelli
						a.item(href='/scarlatti') Scarlatti
						a.item(href='/rameau') Rameau
						a.item(href='/telemann') Telemann
						a.item(href='/pachelbel') Pachelbel
				.item
					i.right.dropdown.icon
					span.text Poets
					.menu
						a.item(href='/gongora') Góngora
						a.item(href='/bach') Quevedo
						a.item(href='/vivaldi') Hoffman
						a.item(href='/purcell') Marino
						a.item(href='/corelli') De Vega
						a.item(href='/scarlatti') Scarlatti
						a.item(href='/rameau') Milton		
						a.item(href='/telemann') Calderón
						a.item(href='/pachelbel') Cervantes
						a.item(href='/pachelbel') Ines de la Cruz	
		.right.menu
			//- .ui.simple.dropdown.icon.item
			//- 	i.material-icons.mr-3 all_inclusive
			//- 	| Instrumentos
			//- 	.left.menu
			//- 		.item
			//- 			i.dropdown.icon
			//- 			span.text Strings
			//- 			.left.menu
			//- 				a.left.item(href='/usa') Violin
			//- 				a.item(href='/puerto-rico') Viola
			//- 				a.item(href='/hispaniola') Cello
			//- 				a.item(href='/mexico') Bull Fiddle
			//- 				a.item(href='/texas') Piano
			//- 				a.item(href='/tijuana') Cavaquinho
			//- 				a.item(href='/tijuana') Violão Sete-Cordas
			//- 		.item
			//- 			i.dropdown.icon
			//- 			span.text Winds
			//- 			.left.menu
			//- 				a.item(href="/nicaragua") Oh Boy
			//- 				a.item(href="/el-salvador") English Horn
			//- 				a.item(href="/honduras") Bassoon
			//- 				a.item(href="/oaxaca") Clarinet
			//- 				a.item(href="/costa-rica") Flute
			//- 				a.item(href="/guatemala") Adolph Saxes
			//- 		.item
			//- 			i.dropdown.icon
			//- 			span.text Brass
			//- 			.left.menu
			//- 				a.item(href="/paraguay") French Horn
			//- 				a.item(href="/uruguay") Trumpet
			//- 				a.item(href="/bolivia") Trombone
			//- 				a.item(href="/peru") Tuba
			//- 				a.item(href="/venezuela") Vuvuzela
			//- 		.item
			//- 			i.dropdown.icon
			//- 			span.text Percussion
			//- 			.left.menu
			//- 				a.item(href="/paraguay") Pandeiro

			a.ui.item Abordagem

	router-view
	//- script(type='text/javascript').
	//- 	$(function() {
	//- 	$('.ui.dropdown').dropdown();
	//- 	});
</template>

<style lang="scss">

@import '../semantic/dist/semantic.css';
@import './assets/style/utilities/dist/bootstrap-4-utilities.css';

</style>
